<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="medicalClinicConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\medicalClinic.accdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <!--
    web.config değişikliklerinin açıklaması için http://go.microsoft.com/fwlink/?LinkId=235367 adresini inceleyin.

    Aşağıdaki öznitelikler <httpRuntime> etiket üzerinde ayarlanabilir.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>